.navbar-brand img {
    height: 100%;
}

nav form#search {
    padding: 0.5rem;
}

.navbar-light {
    background-color: #2F92CA;
}

.navbar-light .navbar-nav > li > a,
.navbar-light .navbar-nav > li > a:hover {
    color: #FFF !important;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.navbar-light .navbar-nav > .active > a {
    background-color: transparent !important;
    color: #FFF !important;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #ffffff;
}

.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > li > a:hover {
    background-color: transparent !important;
    color: #F3F3F3 !important;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #F3F3F3;
}

/*.navbar-nav .badge{*/
/*!*padding: 0.27rem 0.55rem 0.2rem 0.4rem;*!*/
/*position: absolute;*/
/*left: 12.37rem;*/
/*top: 0.7rem;*/
/*z-index: 99;*/
/*border: 0.2rem solid #2F92CA;*/
/*}*/
#mainRow {
    margin-top: 0.5rem;
}

.navbar-nav .badge-notify {
    color: #2F92CA;
    font-size: 0.3em;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    background-color: #ffffff;
    z-index: 99;
    border: 0.2rem solid #2F92CA;
    position: relative;
    top: -16px;
    left: 20px;
}

.navbar .navbar-toggler,
.navbar-light .navbar-toggler:focus {
    background-color: #57A5D2 !important;
}

.navbar-light .navbar-toggler:hover {
    background-color: #3986B3 !important;
}

.card-body img.card-img {
    top: 50%;
    margin-top: -52px;
    width: 72px;
    border: 3px solid #ffffff;
    position: relative;
    border-radius: 0.4rem;
    float: left;
    z-index: 99;
}

#messages-modal .btn-message{
    position: absolute;
    right: 3em;
    top:0.75em;
}

#messages-modal .modal-body{
    max-height: 32rem;
    overflow: auto;
}

#messages-modal li{
    padding: 0.75rem;
    border-bottom: 0.1rem solid #E6E6E6;
}

#messages-modal li:hover{
    background-color: #E6E6E6;
}

#messages-modal li a:hover{
    text-decoration: none;
}

#messages-modal li img{
    max-width: 15%;
}

#messages-modal .msg-content{
    display: inline-block;
    color: #000;
}

#messages-modal .msg-content h5{
    font-size: 1em;
    font-weight: bold;
}

/*#profile-resume .card-body > h5{*/
    /*font-size: 18px;*/
/*}*/

#profile-resume .card-body .card-text{
    font-size: 14px;
}

#profile-resume .card-body .row .col-sm{
    font-size: 14px;
}

.card-body .card-title {
    margin: -1rem 0 0 0.5rem;
}

.card-body .card-title small {
    display: block;
}

.card-body .card-text {
    clear: both;
    padding-top: 0.25rem;
    margin-bottom: 1.5em;
}

#profile-photo {
    margin-top: 2rem;
}

#profile-photo a {
    margin: 0;
}

#profile-resume .card-body .row {
    margin-left: -1.6rem;
}

.card-body ul a:hover {
    text-decoration: none;
}

form#new-message {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 1em;
    border-bottom: 0.1em solid #CEE4F5;
    background-color: #EBF4FB;
}

form#new-message .input-group-text {
    background-color: #ffffff;
}

ul#feed {
    margin: 0;
}

ul#feed li {
    padding: 1em 1em;
}

ul#feed .feed-avatar {
    width: 13%;
    display: inline-block;
    vertical-align: top;
}

.profile-stats {
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
}

.profile-value {
    color: #2F92CA;
    font-weight: bold;
    font-size: 1.2em;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes w70 {
    from {
        width: 0
    }
    to {
        width: 70%
    }
}

#profile-settings .flex-column li {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}

#profile-settings .flex-column a {
    border-radius: 0;
}

#profile-settings .flex-column li:first-child a {
    border-radius: 0.4rem 0.4rem 0 0;
}

body {
    background-color: #f5f5f5 !important;
}

.card {
    margin-top: 0.5rem;
}

#profile-settings .flex-column li:last-child a {
    border-radius: 0 0 0.4rem 0.4rem;
}

#profile-settings .flex-column li:last-child {
    border-bottom: 0;
}

.progress-bar-animated {
    animation: w70 1s ease forwards,
    progress-bar-stripes 2s linear infinite;
}

ul#feed .feed-post {
    width: 80%;
    display: inline-block;
    margin-left: 2%;
}

ul#feed .feed-post h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

ul#feed .feed-post h5 > small {
    font-size: 1.2rem;
}

ul#feed .action-list {
    margin-left: 13%;
    padding-left: 1em;
}

ul#feed .action-list a {
    width: 15%;
    display: inline-block;
}

ul#feed .action-list a:hover {
    text-decoration: none;
}

ul#feed li {
    padding: 1em 1em;
    border-bottom: 0.1rem solid #e5e5e5;
}

#main #breadCrumb ol {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}


@media (min-width: 768px) {
    .bd-sidebar {
        /*border-right: 1px solid rgba(0, 0, 0, .1);*/
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
    }
}

.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}

div#who-follow li {
    margin-bottom: 2em;
}

div#who-follow li:last-child {
    margin-bottom: 0;
}

div#who-follow li img {
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

div#who-follow li .table-info {
    width: 68%;
    display: inline-block;
    background-color: #ffffff;
}

.alert {
    border-left-width: 0.5rem;
}

.alert h3 {
    margin: 0 0 1rem;
    font-size: 1.4em;
}

div#who-follow li .table-info strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#app-info {
    margin-top: 2rem;
}

div#who-follow .table-info .fa {
    color: #2F92CA;
}

ul#feed li:last-child {
    border-bottom: none;
}

ul#feed .action-list .retweet-count {
    padding-left: 0.2em;
    font-weight: bold;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-color: #FFF !important;
}

nav form#search .input-group .form-control {
    border-radius: 0.25rem;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

#nav-options #headDropDown::after {
    display: none !important;
}

#account-tabs > li {
    border-bottom: 0.1rem solid #e5e5e5;
}

#account-tabs a {
    border-bottom: 0;
}

#account-tabs #first {
    border-bottom: 0;
}

#main .tab-content {
    padding: 2em;
    margin-top: -0.1rem;
    background-color: #FFFFFF !important;
}

.list-group-item {
    border-color: #e5e5e5;
}

#account-tabs > li {
    border-bottom: 0;
}

div#who-follow li .table-info .fa-check {
    color: #5cb85c;
}

#tweet-modal .char-count {
    padding: 0.7rem 0;
}

#right-content .list-group .badge {
    float: right;
    /*padding: 0.3rem 0.6rem;*/
}

#right-content .list-group .fa-star {
}

#account-tabs {
    position: relative;
    z-index: 99;
}

.container-fluid > .row {
    color: #333;
}

#main .form-horizontal {
    margin-bottom: 0;
}

#tweet {
    margin: 0.5rem;
}

#nav-options {
    margin: 0.5rem;
}

#nav-options button.img-thumbnail {
    margin: 0;
    padding: 0;
}

#nav-options img {
    max-height: 2.3em;
    border-radius: 0.3em;
}

/*!* style icon *!*/
/*.inner-addon .glyphicon {*/
/*position: absolute;*/
/*padding: 10px;*/
/*pointer-events: none;*/
/*}*/

/*!* align icon *!*/
/*.left-addon .glyphicon  { left:  0px;}*/
/*.right-addon .glyphicon { right: 0px;}*/

/*!* add padding  *!*/
/*.left-addon input  { padding-left:  30px; }*/
/*.right-addon input { padding-right: 30px; }*/